<!doctype html>
<html class="light blue" lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
    <meta charset="utf-8" />
    {{ hugo.Generator }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author | default "John Doe" }}" />
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cmu-serif" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cmu-typewriter" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cmu-sans-serif" type="text/css"/>
    
    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

  </head>
  <body>
    <header class="app-header">
      <div id="togglenightmode">
	<input class="container_toggle" type="checkbox" id="daynightswitch" name="nightmode" />
        <label for="daynightswitch">Toggle</label>
	<span class="tooltiptext">toggle night mode</span>
      </div>
      <a href="{{ .Site.BaseURL }}"><img class="app-header-avatar" src="{{ .Site.Params.avatar | default "avatar.jpg" | relURL }}" alt="{{ .Site.Params.author | default "John Doe" }}" /></a>
      <h1>{{ .Site.Title }}</h1>
      <p>{{ .Site.Params.description | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula turpis sit amet elit pretium." }}</p>
      <div class="app-header-social">
        {{ range .Site.Params.social }}
          <a target="_blank" href="{{ .url }}">{{ partial "icon.html" (dict "ctx" $ "name" .name ) }}</a>
        {{ end }}
      </div>
    </header>
    <main class="app-container green">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
    </main>
    {{ $daynightswitch := resources.Get "js/daynightswitcher.js" | resources.Minify }}
    <script src="{{ $daynightswitch.Permalink }}"></script>
  </body>
</html>
