// https://fontlibrary.org/en/search?query=CMU
// https://ethanschoonover.com/solarized/
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) {
  $emphasised-content: $rebase1;
  $body-text: $rebase0;
  $comments-text: $rebase01;
  $background-highlights: $rebase02;
  $background: $rebase03;
  background-color:$rebase03;
  color:$rebase0;
  * { color:$rebase0; }
  header { background-color:$rebase02; }
  h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
  a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($setaccent) {
  $accent: $setaccent !global;
  a, a:active, a:visited, code.url { color: $accent; }
  h1,h2,h3,h4,h5,h6 {color:$accent}
}
/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
  line-height: 1.6;
  rendering-intent: auto;
}
* {
  box-sizing: border-box;
}

.yellow { @include accentize($yellow)}
.orange { @include accentize($orange)}
.red { @include accentize($red)}
.magenta { @include accentize($magenta)}
.violet { @include accentize($violet)}
.magenta { @include accentize($magenta)}
.blue { @include accentize($blue)}
.cyan { @include accentize($cyan)}
.green { @include accentize($green)}


body {
  margin: 0;
  font-family: 'CMUSerifRoman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CMUSansSerifBold', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

a {
  transition: color 0.35s;
  text-decoration: none;
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: 'CMUTypewriterTextRegular', Courier, monospace;
  font-size: 1em;
  font-weight: bold;
}

pre {
  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-size: .8em;
  }
  padding: 15px 5px;
  overflow: auto;
}
  

//::selection {
//  background: rgba($light-color, .25);
//}
//::-moz-selection {
//  background: rgba($light-color, .25);
//}
