// need to think about the hexes in the bottom left
// https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids

.app-header {
  padding: 1.5rem;
  text-align: center;
  border-right-style: dashed;
  border-right-width: 1px;
}

.app-header-avatar {
  max-width: 15rem;
  max-height: 15rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
// I want to add a border https://stackoverflow.com/questions/31854185/how-to-add-border-in-my-clip-path-polygon-css-style
//  border-radius: 100%;
//  border: 0.5rem solid $primary-color;
}

.app-container {
  padding: 1.5rem 2.5rem;
}

.app-header-social {
  font-size: 2rem;

  a {
    margin: 0 0.1em;
  }
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 36rem;
    margin-left: 20rem;
  }
}
