.post-header{
  position: relative;
//  padding-top: 0.3rem;
//  padding-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  left: -2.5rem;
  margin-right: -2.5rem;
}

.post-title {
  color: $lightest-color;
  margin: 0px;
}

.post-content {
  pre {
    border-left: 0.2rem solid $accent;
    padding-left: 1rem;
  }
}

.post-meta {
  font-size: 0.8em;
  float: right;
  position: relative;
  left: 6rem;
  top: -3rem;
}
