#togglenightmode {
  display: none;
  height: 10px;
  float: left;
	    
  input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;

    &:checked {
      + label {
	background: $red;

	&:after{
	  left: calc(100% - 5px);
	  transform: translateX(-100%);
        }
      }
    }
  }

  label {
    margin: 0 auto;
    border-radius: 100px;
    position: relative;
    top: -20px;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    
    &:after{
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 20px;
      transition: 0.3s;
    }

    &:active:after {
      width: 35px;
    }
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 2px 0;
    font-size: 0.8rem;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: 5rem;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}


